$NanoLight: NotoSansCJKjp;

$white: #ffffff;
$dark: #000000;
$primary: #99cf16;
$secondary: #81b507;

$primary-dark: #5b7c0e;
$primary-dark-h: #80af13;
$primary-light-white: #99cf1696;

$grey-light-white: #0000008f;
$grey-light: #999999;
$grey-light-2: #a2a2a2;
$dark-blue: #0b2936;

//Gradient variable
$primaryGr1: #468935;
$primaryGr2: #97cd16;
